<a href="https://colab.research.google.com/github/francoisdoanp/MLTBP/blob/master/Project_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Machine learning - Final Project**

# Turbofan engine degradation dataset (NASA)

# Data Preparation

**Importing necessary packages**

In [1]:

import pandas as pd
import numpy as np
import keras
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
import sklearn.metrics as metrics
import math
from keras.models import Sequential
from keras.layers import Dense, Dropout, Activation, Embedding, LSTM
from sklearn.preprocessing import PolynomialFeatures
from keras import regularizers

Using TensorFlow backend.

**Importing the Turbofan engine degradation dataset.**

**Files are located in the following Github repository: https://github.com/francoisdoanp/MLTBP**

We have 4 training datasets, which contains information about one hundred engines, all of the same type. Thus, we will combine the training and test data sets. 

The training and test sets have 21 columns: ID, Time (Cycles), 3 columns for operational settings and 21 sensor measurements.

The training and testing sets have the same format, while the validation sets only contain the real RUL (remaining useful life).

For more information on the data, consult the read me at the following address:https://github.com/francoisdoanp/MLTBP/blob/master/readme.txt

In [0]:
url_base = 'https://raw.githubusercontent.com/francoisdoanp/MLTBP/master/'

file_train_1 = 'train_FD001.txt'
file_train_2 = 'train_FD002.txt'
file_train_3 = 'train_FD003.txt'
file_train_4 = 'train_FD004.txt'

file_test_1 = 'test_FD001.txt'
file_test_2 = 'test_FD002.txt'
file_test_3 = 'test_FD003.txt'
file_test_4 = 'test_FD004.txt'

file_valid_1 = 'RUL_FD001.txt'
file_valid_2 = 'RUL_FD002.txt'
file_valid_3 = 'RUL_FD003.txt'
file_valid_4 = 'RUL_FD004.txt'


pt1 = pd.read_csv(url_base + file_train_1, sep=' ', header=None)
pt2 = pd.read_csv(url_base + file_train_2, sep=' ', header=None)
pt3 = pd.read_csv(url_base + file_train_3, sep=' ', header=None)
pt4 = pd.read_csv(url_base + file_train_4, sep=' ', header=None)

pte1 = pd.read_csv(url_base + file_test_1, sep=' ', header=None)
pte2 = pd.read_csv(url_base + file_test_2, sep=' ', header=None)
pte3 = pd.read_csv(url_base + file_test_3, sep=' ', header=None)
pte4 = pd.read_csv(url_base + file_test_4, sep=' ', header=None)

pv1 = pd.read_csv(url_base + file_valid_1, header=None)
pv2 = pd.read_csv(url_base + file_valid_2, header=None)
pv3 = pd.read_csv(url_base + file_valid_3, header=None)
pv4 = pd.read_csv(url_base + file_valid_4, header=None)


# Updating ids

pt2[0] = pt2[0].apply(lambda x: x+100)
pt3[0] = pt3[0].apply(lambda x: x+360)
pt4[0] = pt4[0].apply(lambda x: x+460)

pte2[0] = pte2[0].apply(lambda x: x+100)
pte3[0] = pte3[0].apply(lambda x: x+359)
pte4[0] = pte4[0].apply(lambda x: x+459)


# Joining the dataframes

train_pd = pd.concat([pt1,pt2,pt3,pt4])
test_pd = pd.concat([pte1,pte2,pte3,pte4])
valid_pd = pd.concat([pv1,pv2,pv3,pv4], ignore_index=True)

train_pd = train_pd.drop(train_pd.columns[[26,27]], axis='columns')
test_pd = test_pd.drop(test_pd.columns[[26,27]], axis='columns')


# Assigning labels to Dataframe's columns based on the Readme

train_pd.columns = ['id', 'Time (Cycles)', 'OS1', 'OS2', 'OS3', 'S1', 'S2', 'S3', 'S4', 'S5', 'S6', 'S7', 'S8', 'S9', 'S10', 'S11', 'S12', 'S13', 'S14', 'S15', 'S16', 'S17', 'S18', 'S19', 'S20', 'S21']
test_pd.columns = ['id', 'Time (Cycles)', 'OS1', 'OS2', 'OS3', 'S1', 'S2', 'S3', 'S4', 'S5', 'S6', 'S7', 'S8', 'S9', 'S10', 'S11', 'S12', 'S13', 'S14', 'S15', 'S16', 'S17', 'S18', 'S19', 'S20', 'S21']
valid_pd.columns = ['RUL']

#Loading scaler

scaler = StandardScaler()

**Adding variables Conditons and fault mode**

Note:

**Condition (ONE)** and **Fault ONE** are binary variables.

When Condition(ONE) = 1 (true), it means that the condition is at Sea Level

When Condition(ONE) = 0 (false), it means NO, the condition IS NOT AT SEA LEVEL, and thus is the  second condition; SIX.

When Fault ONE = 1 (true), it means that the fault modes is one (HPC Degradation)

When Fault ONE = 0 (false), it means that the fault mode is TWO (HPC Degradation and Fan degradation)

In [3]:
# Adding variables Condition and fault modes

def value_condition_train(row):
  if (row['id'] <= 100):
    return 1
  elif (row['id'] <= 360) & (row['id'] > 100):
    return 0
  elif (row['id'] <= 460) & (row['id'] > 360):
    return 1
  else:
    return 0
  
def value_fault_train(row):
  if (row['id'] <= 100):
    return 1
  elif (row['id'] <= 360) & (row['id'] > 100):
    return 1
  elif (row['id'] <= 460) & (row['id'] > 360):
    return 0
  else:
    return 0
  
def value_condition_test(row):
  if (row['id'] <= 100):
    return 1
  elif (row['id'] <= 359) & (row['id'] > 100):
    return 0
  elif (row['id'] <= 459) & (row['id'] > 359):
    return 1
  else:
    return 0
  
def value_fault_test(row):
  if (row['id'] <= 100):
    return 1
  elif (row['id'] <= 359) & (row['id'] > 100):
    return 1
  elif (row['id'] <= 459) & (row['id'] > 359):
    return 0
  else:
    return 0


train_pd['Condition (One)'] = train_pd.apply(value_condition_train, axis=1)
train_pd['Fault ONE'] = train_pd.apply(value_fault_train,axis=1)

test_pd['Condition (One)'] = test_pd.apply(value_condition_test, axis=1)
test_pd['Fault ONE'] = test_pd.apply(value_fault_test,axis=1)

display(train_pd)

        id  Time (Cycles)      OS1  ...      S21  Condition (One)  Fault ONE
0        1              1  -0.0007  ...  23.4190                1          1
1        1              2   0.0019  ...  23.4236                1          1
2        1              3  -0.0043  ...  23.3442                1          1
3        1              4   0.0007  ...  23.3739                1          1
4        1              5  -0.0019  ...  23.4044                1          1
...    ...            ...      ...  ...      ...              ...        ...
61244  709            251   9.9998  ...  17.5234                0          0
61245  709            252   0.0028  ...  23.7151                0          0
61246  709            253   0.0029  ...  23.8270                0          0
61247  709            254  35.0046  ...   9.0774                0          0
61248  709            255  42.0030  ...   6.4341                0          0

[160359 rows x 28 columns]

At this stage, we create the truth remaining useful life (RUL) for the training set.

Important note: In the training set, the last Cycle (represented in the table by 'Time (Cycles)') is when the engine is considered unusable. However, in the test set, the last cycle IS NOT when the engine is considered unusable. It will fail at a later time. Thus, in the valid_pd, we have the true RUL.

In [0]:
#Adding column for remaining useful life (RUL)

y_train = pd.DataFrame(train_pd.groupby(['id'])['Time (Cycles)'].max())

train_pd = pd.merge(train_pd,y_train, on='id')
train_pd['RUL'] = train_pd['Time (Cycles)_y'] - train_pd['Time (Cycles)_x']
train_pd = train_pd.drop('Time (Cycles)_y',1)
train_pd = train_pd.rename(columns = {'Time (Cycles)_x':'Time (Cycles)'})

y_train = train_pd.iloc[:,28]

In [0]:
def model_score(y_true, y_pred):
  pred_df = pd.DataFrame(y_pred)
  test_err = pd.concat([y_true,pred_df], axis=1)
  test_err.columns = ['RUL', 'Pred_RUL']
  a1 = 10
  a2 = 13
  score=0

  for index, row in test_err.iterrows():
    d = row['Pred_RUL'] - row['RUL']
    if d < 0:
      score += np.expm1(-(d/a1))
    else:
      score += np.expm1(d/a2)

  return score


# Data Exploration

**Now that we have our data, we can get to know our dataset**

In [0]:
display(train_pd.head())

display(test_pd)


print(f'The training dataset contains {train_pd.shape[0]} rows.')

In [0]:
# Print out a table with count, mean, std, min, max, 25%, 50%, 75%

print(train_pd.describe())

**Exploring the effects of sensors on RUL**

In [0]:


print(sns.heatmap(train_pd.corr(), annot=True, cmap='RdYlGn'))

train_pd.corr()

In [0]:
print()

**Exploring correlation between variables**

In [0]:
corr = train_pd.groupby(['RUL']).corr()
corr.style.background_gradient(cmap='coolwarm')

**How do we know when an engine fails?**

We look at the last time cycle for every id.

In [0]:
train_pd.groupby(['id'])['Time (Cycles)'].max().hist(bins=30, grid=False)
plt.xlabel('Number of Cycles')
plt.ylabel('Frequency')

#**Model 1: Multiple Linear Regression**

**Preparing data**

In [0]:
# Scaling data

train_pd_scaled = train_pd.copy()
train_pd_scaled.iloc[:,2:26] = scaler.fit_transform(train_pd.iloc[:,2:26])

test_pd_scaled = test_pd.copy()
test_pd_scaled.iloc[:,2:26] = scaler.fit_transform(test_pd.iloc[:,2:26])

pd.set_option('display.max_columns', None)  
pd.set_option('display.max_colwidth', -1)

In [0]:
# Removing RUL and id columns, as we do not want these features to be in our predictors

train_pd_lm = train_pd_scaled.copy()
train_pd_lm = train_pd_lm.drop(['id', 'RUL'],axis=1)

# Keeping only last time cycle for each id

idx = test_pd_scaled.groupby(['id'])['Time (Cycles)'].transform(max) == test_pd_scaled['Time (Cycles)']
test_pd_lm = test_pd_scaled[idx]

# Removing id column

test_pd_lm = test_pd_lm.drop(['id'], axis=1)

**Fitting Linear Model (Not time sensitive)**

In [8]:
# Fitting Linear model

reg = LinearRegression().fit(train_pd_lm, y_train)

y_pred = reg.predict(test_pd_lm)

acc_score_lm =  metrics.mean_absolute_error(valid_pd, y_pred)

print(f'The mean absolute error for the linear model is: {(acc_score_lm)}.')

The mean absolute error for the linear model is: 44.965450059476375.

**Linear Model with interactions & Polynomial**

In [0]:
# The PolynomialFeatures transforms our dataset to include ALL interactions and ALL variables^2.

lm_poly_int = PolynomialFeatures(2)
train_pd_lm_poly = lm_poly_int.fit_transform(train_pd_lm)

reg_poly = LinearRegression().fit(train_pd_lm_poly,y_train)

In [0]:
test_pd_lm_poly = lm_poly_int.fit_transform(test_pd_lm)

y_pred_poly = reg_poly.predict(test_pd_lm_poly)

acc_score_lm_poly =  metrics.mean_absolute_error(valid_pd, y_pred_poly)

print(f'The mean absolute error for the linear model is: {(acc_score_lm_poly)}.')

# We conclude that there is probabily high colinearity in the variables, so a model including interactions would not help much.

The mean absolute error for the linear model is: 6690.860898272314.

# **Model 3: Neural Networks**

# **Model 3.1: Neural Network**

In [9]:
# Building Model

model2 = Sequential()
model2.add(Dense(100,  activation='relu', input_shape=[len(train_pd_lm.keys())], kernel_regularizer=regularizers.l2(0.01), activity_regularizer=regularizers.l2(0.01)))
model2.add(Dense(100, activation='relu',kernel_regularizer=regularizers.l2(0.01), activity_regularizer=regularizers.l2(0.01)))
model2.add(Dense(100, activation='relu',kernel_regularizer=regularizers.l2(0.01),  activity_regularizer=regularizers.l2(0.01)))
model2.add(Dense(100, activation='relu',kernel_regularizer=regularizers.l2(0.01), activity_regularizer=regularizers.l2(0.01)))
model2.add(Dense(100, activation='relu',kernel_regularizer=regularizers.l2(0.01), activity_regularizer=regularizers.l2(0.01)))
model2.add(Dense(100, activation='relu',kernel_regularizer=regularizers.l2(0.01), activity_regularizer=regularizers.l2(0.01)))
model2.add(Dense(100, activation='relu',kernel_regularizer=regularizers.l2(0.01), activity_regularizer=regularizers.l2(0.01)))
model2.add(Dense(100, activation='relu',kernel_regularizer=regularizers.l2(0.01), activity_regularizer=regularizers.l2(0.01)))
model2.add(Dense(100, activation='relu',kernel_regularizer=regularizers.l2(0.01), activity_regularizer=regularizers.l2(0.01)))
model2.add(Dense(100, activation='relu',kernel_regularizer=regularizers.l2(0.01), activity_regularizer=regularizers.l2(0.01)))
model2.add(Dense(100, activation='relu',kernel_regularizer=regularizers.l2(0.01), activity_regularizer=regularizers.l2(0.01)))

model2.add(Dense(1))

model2.compile(loss='mean_squared_error', optimizer='rmsprop', metrics=['mae'])

print(model2.summary())

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:66: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:541: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:4432: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/optimizers.py:793: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 100)               2800
_________________________________________________________________
dense_2 (Dense)              (None, 100)               10100
_________________________________________________________________
dense_3 (Dense)              (None, 100)               10100
_________________________________________________________________
dense_4 (Dense)              (None, 100)               10100
_________________________________________________________________
dense_5 (Dense)              (None, 100)               10100
_________________________________________________________________
dense_6 (Dense)              (None, 100)               10100
_________________________________________________________________
dense_7 (Dense)              (None, 100)               10100
_________________________________________________________________
dense_8 (Dense)              (None, 100)               10100
_________________________________________________________________
dense_9 (Dense)              (None, 100)               10100
_________________________________________________________________
dense_10 (Dense)             (None, 100)               10100
_________________________________________________________________
dense_11 (Dense)             (None, 100)               10100
_________________________________________________________________
dense_12 (Dense)             (None, 1)                 101
=================================================================
Total params: 103,901
Trainable params: 103,901
Non-trainable params: 0
_________________________________________________________________
None

In [10]:
# Fitting model

NNmodel2 = model2.fit(train_pd_lm, y_train, epochs=100, batch_size=200, validation_split=0.05, verbose=1,callbacks =[keras.callbacks.EarlyStopping(monitor='val_loss', min_delta=0, patience=5, verbose=0, mode='min')])
#NNmodel2 = model2.fit(train_pd_lm, y_train, epochs=10, batch_size=200, validation_split=0.05, verbose=1)

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:1033: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:1020: The name tf.assign is deprecated. Please use tf.compat.v1.assign instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3005: The name tf.Session is deprecated. Please use tf.compat.v1.Session instead.

Train on 152341 samples, validate on 8018 samples
Epoch 1/100
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:190: The name tf.get_default_session is deprecated. Please use tf.compat.v1.get_default_session instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:197: The name tf.ConfigProto is deprecated. Please use tf.compat.v1.ConfigProto instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:207: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:216: The name tf.is_variable_initialized is deprecated. Please use tf.compat.v1.is_variable_initialized instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:223: The name tf.variables_initializer is deprecated. Please use tf.compat.v1.variables_initializer instead.

152341/152341 [==============================] - 7s 44us/step - loss: 11343.9187 - mean_absolute_error: 54.6589 - val_loss: 4890.9898 - val_mean_absolute_error: 45.7493
Epoch 2/100
152341/152341 [==============================] - 5s 35us/step - loss: 4599.2780 - mean_absolute_error: 44.2124 - val_loss: 3734.7898 - val_mean_absolute_error: 42.7269
Epoch 3/100
152341/152341 [==============================] - 5s 36us/step - loss: 4003.7893 - mean_absolute_error: 42.5907 - val_loss: 3607.4716 - val_mean_absolute_error: 40.2314
Epoch 4/100
152341/152341 [==============================] - 6s 37us/step - loss: 3703.5752 - mean_absolute_error: 41.4244 - val_loss: 2840.2736 - val_mean_absolute_error: 37.3040
Epoch 5/100
152341/152341 [==============================] - 6s 36us/step - loss: 3468.0501 - mean_absolute_error: 40.3535 - val_loss: 2708.3388 - val_mean_absolute_error: 36.1539
Epoch 6/100
152341/152341 [==============================] - 5s 36us/step - loss: 3299.8889 - mean_absolute_error: 39.4915 - val_loss: 4070.1379 - val_mean_absolute_error: 49.8754
Epoch 7/100
152341/152341 [==============================] - 6s 37us/step - loss: 3163.3246 - mean_absolute_error: 38.7880 - val_loss: 2856.0439 - val_mean_absolute_error: 40.3800
Epoch 8/100
152341/152341 [==============================] - 6s 37us/step - loss: 3053.5356 - mean_absolute_error: 38.1218 - val_loss: 2512.2213 - val_mean_absolute_error: 35.8135
Epoch 9/100
152341/152341 [==============================] - 6s 39us/step - loss: 2967.4610 - mean_absolute_error: 37.6305 - val_loss: 2596.6247 - val_mean_absolute_error: 35.5065
Epoch 10/100
152341/152341 [==============================] - 5s 35us/step - loss: 2898.2215 - mean_absolute_error: 37.2347 - val_loss: 2434.5657 - val_mean_absolute_error: 34.9000
Epoch 11/100
152341/152341 [==============================] - 5s 36us/step - loss: 2821.4304 - mean_absolute_error: 36.7595 - val_loss: 3389.9256 - val_mean_absolute_error: 45.3032
Epoch 12/100
152341/152341 [==============================] - 6s 38us/step - loss: 2794.8978 - mean_absolute_error: 36.5732 - val_loss: 2403.0128 - val_mean_absolute_error: 35.9568
Epoch 13/100
152341/152341 [==============================] - 7s 46us/step - loss: 2744.2744 - mean_absolute_error: 36.2629 - val_loss: 2415.6785 - val_mean_absolute_error: 35.6823
Epoch 14/100
152341/152341 [==============================] - 7s 48us/step - loss: 2707.6799 - mean_absolute_error: 35.9978 - val_loss: 2538.5202 - val_mean_absolute_error: 36.5636
Epoch 15/100
152341/152341 [==============================] - 7s 43us/step - loss: 2676.1283 - mean_absolute_error: 35.8269 - val_loss: 2431.9416 - val_mean_absolute_error: 37.1914
Epoch 16/100
152341/152341 [==============================] - 8s 49us/step - loss: 2637.3914 - mean_absolute_error: 35.6134 - val_loss: 2411.2771 - val_mean_absolute_error: 36.0599
Epoch 17/100
152341/152341 [==============================] - 6s 41us/step - loss: 2611.2713 - mean_absolute_error: 35.4342 - val_loss: 4629.5318 - val_mean_absolute_error: 57.4732

In [26]:
# Testing on validation set

y_pred_nn = model2.predict(test_pd_lm, batch_size=20, verbose=1)

result_nn = metrics.mean_absolute_error(y_pred_nn, valid_pd)

print(f'The mean absoute error of the Neural Network on the test test is {result_nn}.')

707/707 [==============================] - 0s 321us/step
The mean absoute error of the Neural Network on the test test is 37.63172954683425.

# **Model 3.2: Neural Network with LSTM architecture**

In [47]:
# Using Azure tutorial for predictive maintenance for data manipulation
# Reference: https://github.com/Azure/lstms_for_predictive_maintenance/blob/master/Deep%20Learning%20Basics%20for%20Predictive%20Maintenance.ipynb

# Picking a sequence length - This will be the window of time in which the LSTM will gather data from

sequence_length = 25


# This function will reshape our data so it can be usable with Keras (Samples, time window, features)
def gen_sequence(id_df, seq_length,seq_cols):
  data_array = id_df[seq_cols].values
  num_elements = data_array.shape[0]
  for start,stop in zip(range(0, num_elements-seq_length), range(seq_length, num_elements)):
    yield data_array[start:stop,:]

# Reference column names

sensor_cols = ['S' + str(i) for i in range(1,22)]
sequence_cols = ['Time (Cycles)', 'OS1', 'OS2', 'OS3']
other_cols = ['Condition (One)', 'Fault ONE']
sequence_cols.extend(sensor_cols)
sequence_cols.extend(other_cols)

# Generating sequences

seq_gen = (list(gen_sequence(train_pd_scaled[train_pd_scaled['id']==id], sequence_length,sequence_cols))
          for id in train_pd_scaled['id'].unique())

# Generate sequences and convert to numpy array

seq_array = np.concatenate(list(seq_gen)).astype(np.float32)
print(seq_array.shape)

def gen_labels(id_df, seq_length, label):
  data = id_df[label].values
  num_elements = data.shape[0]
  return data[seq_length:num_elements,:]

label_gen = [gen_labels(train_pd_scaled[train_pd_scaled['id']==id], sequence_length, ['RUL'])
            for id in train_pd_scaled['id'].unique()]

label_array = np.concatenate(label_gen).astype(np.float32)
print(label_array.shape)

(142634, 25, 27)
(142634, 1)

In [48]:
# Building the RNN

nb_features = seq_array.shape[2]
nb_out = label_array.shape[1]

model = Sequential()
model.add(LSTM(input_shape=(sequence_length, nb_features), units=100, return_sequences=True))
model.add(LSTM(units=150, return_sequences=True))
model.add(Dropout(0.2))
model.add(LSTM(units=200, return_sequences=True))
model.add(Dropout(0.2))
model.add(LSTM(units=100, return_sequences=True))
model.add(Dropout(0.2))
model.add(LSTM(units=50, return_sequences=True))
model.add(Dropout(0.2))
model.add(LSTM(1, return_sequences=True))


#model.add(LSTM(input_shape=(sequence_length, nb_features), units=50, return_sequences=False))
#model.add(Dropout(0.2))

#model.add(Dense(units=nb_out))
#model.add(Activation('linear'))
model.compile(loss='mean_squared_error', optimizer='rmsprop', metrics=['mae'])

print(model.summary())

Model: "sequential_13"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm_35 (LSTM)               (None, 25, 100)           51200
_________________________________________________________________
lstm_36 (LSTM)               (None, 25, 150)           150600
_________________________________________________________________
dropout_29 (Dropout)         (None, 25, 150)           0
_________________________________________________________________
lstm_37 (LSTM)               (None, 25, 200)           280800
_________________________________________________________________
dropout_30 (Dropout)         (None, 25, 200)           0
_________________________________________________________________
lstm_38 (LSTM)               (None, 25, 100)           120400
_________________________________________________________________
dropout_31 (Dropout)         (None, 25, 100)           0
_________________________________________________________________
lstm_39 (LSTM)               (None, 25, 50)            30200
_________________________________________________________________
dropout_32 (Dropout)         (None, 25, 50)            0
_________________________________________________________________
lstm_40 (LSTM)               (None, 25, 1)             208
=================================================================
Total params: 633,408
Trainable params: 633,408
Non-trainable params: 0
_________________________________________________________________
None

In [49]:
# Fitting the RNN

model.fit(seq_array, label_array, epochs=100, batch_size=50, validation_split=0.05, verbose=1, callbacks =[keras.callbacks.EarlyStopping(monitor='val_loss', min_delta=0, patience=0, verbose=0, mode='min')])

ValueError: ignored

In [0]:
# Adding RUL to test set

truth_nn= valid_pd.copy()
max_hid = pd.DataFrame(test_pd.groupby('id')['Time (Cycles)'].max()).reset_index()
max_hid.columns = ['id','max']
truth_nn.columns = ['truth']
truth_nn['id'] = truth_nn.index +1
truth_nn['truth'] = truth_nn['truth'] + max_hid['max']

test_pd_nn = test_pd.copy()
test_pd_nn = test_pd_nn.merge(truth_nn, on=['id'], how='left')
test_pd_nn['RUL'] = test_pd_nn['truth'] - test_pd_nn['Time (Cycles)']
test_pd_nn.drop('truth', axis=1, inplace=True)

print(test_pd_nn)

In [32]:
# Preparing test set

seq_array_test = [test_pd_nn[test_pd_nn['id']==id][sequence_cols].values[-sequence_length:]
                 for id in test_pd_nn['id'].unique() if len(test_pd_nn[test_pd_nn['id']==id]) >= sequence_length]

seq_array_test = np.asarray(seq_array_test).astype(np.float32)

y_mask = [len(test_pd_nn[test_pd_nn['id']==id]) >= sequence_length for id in test_pd_nn['id'].unique()]

label_array_test = test_pd_nn.groupby('id')['RUL'].nth(-1)[y_mask].values
label_array_test = label_array_test.reshape(label_array_test.shape[0],1).astype(np.float32)

print(seq_array_test.shape)
print(label_array_test.shape)

(697, 25, 27)
(697, 1)

In [33]:
# Fitting model on test set

y_pred_lstm = model.predict(seq_array_test, batch_size=50, verbose=1)

result_lstm =  metrics.mean_absolute_error(y_pred_lstm, label_array_test)

print(f'The mean absolute error for the LSTM on the test set is {result_lstm}.' )

697/697 [==============================] - 1s 1ms/step
The mean absolute error for the LSTM on the test set is 46.81201934814453.