<a href="https://colab.research.google.com/github/francoisdoanp/MLTBP/blob/master/Project_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Machine learning - Final Project**

# Turbofan engine degradation dataset (NASA)

# Data Preparation

**Importing necessary packages**

In [0]:

import pandas as pd
import numpy as np
import keras
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
import sklearn.metrics as metrics
import math
from keras.models import Sequential
from keras.layers import Dense, Dropout, Activation, Embedding, LSTM
from sklearn.preprocessing import PolynomialFeatures
from keras import regularizers

**Importing the Turbofan engine degradation dataset.**

**Files are located in the following Github repository: https://github.com/francoisdoanp/MLTBP**

We have 4 training datasets, which contains information about one hundred engines, all of the same type. Thus, we will combine the training and test data sets. 

The training and test sets have 21 columns: ID, Time (Cycles), 3 columns for operational settings and 21 sensor measurements.

The training and testing sets have the same format, while the validation sets only contain the real RUL (remaining useful life).

For more information on the data, consult the read me at the following address:https://github.com/francoisdoanp/MLTBP/blob/master/readme.txt

In [0]:
url_base = 'https://raw.githubusercontent.com/francoisdoanp/MLTBP/master/'

file_train_1 = 'train_FD001.txt'
file_train_2 = 'train_FD002.txt'
file_train_3 = 'train_FD003.txt'
file_train_4 = 'train_FD004.txt'

file_test_1 = 'test_FD001.txt'
file_test_2 = 'test_FD002.txt'
file_test_3 = 'test_FD003.txt'
file_test_4 = 'test_FD004.txt'

file_valid_1 = 'RUL_FD001.txt'
file_valid_2 = 'RUL_FD002.txt'
file_valid_3 = 'RUL_FD003.txt'
file_valid_4 = 'RUL_FD004.txt'


pt1 = pd.read_csv(url_base + file_train_1, sep=' ', header=None)
pt2 = pd.read_csv(url_base + file_train_2, sep=' ', header=None)
pt3 = pd.read_csv(url_base + file_train_3, sep=' ', header=None)
pt4 = pd.read_csv(url_base + file_train_4, sep=' ', header=None)

pte1 = pd.read_csv(url_base + file_test_1, sep=' ', header=None)
pte2 = pd.read_csv(url_base + file_test_2, sep=' ', header=None)
pte3 = pd.read_csv(url_base + file_test_3, sep=' ', header=None)
pte4 = pd.read_csv(url_base + file_test_4, sep=' ', header=None)

pv1 = pd.read_csv(url_base + file_valid_1, header=None)
pv2 = pd.read_csv(url_base + file_valid_2, header=None)
pv3 = pd.read_csv(url_base + file_valid_3, header=None)
pv4 = pd.read_csv(url_base + file_valid_4, header=None)


# Updating ids

pt2[0] = pt2[0].apply(lambda x: x+100)
pt3[0] = pt3[0].apply(lambda x: x+360)
pt4[0] = pt4[0].apply(lambda x: x+460)

pte2[0] = pte2[0].apply(lambda x: x+100)
pte3[0] = pte3[0].apply(lambda x: x+359)
pte4[0] = pte4[0].apply(lambda x: x+459)


# Joining the dataframes

train_pd = pd.concat([pt1,pt2,pt3,pt4])
test_pd = pd.concat([pte1,pte2,pte3,pte4])
valid_pd = pd.concat([pv1,pv2,pv3,pv4], ignore_index=True)

train_pd = train_pd.drop(train_pd.columns[[26,27]], axis='columns')
test_pd = test_pd.drop(test_pd.columns[[26,27]], axis='columns')


# Assigning labels to Dataframe's columns based on the Readme

train_pd.columns = ['id', 'Time (Cycles)', 'OS1', 'OS2', 'OS3', 'S1', 'S2', 'S3', 'S4', 'S5', 'S6', 'S7', 'S8', 'S9', 'S10', 'S11', 'S12', 'S13', 'S14', 'S15', 'S16', 'S17', 'S18', 'S19', 'S20', 'S21']
test_pd.columns = ['id', 'Time (Cycles)', 'OS1', 'OS2', 'OS3', 'S1', 'S2', 'S3', 'S4', 'S5', 'S6', 'S7', 'S8', 'S9', 'S10', 'S11', 'S12', 'S13', 'S14', 'S15', 'S16', 'S17', 'S18', 'S19', 'S20', 'S21']
valid_pd.columns = ['RUL']

#Loading scaler

scaler = StandardScaler()

**Adding variables Conditons and fault mode**

Note:

**Condition (ONE)** and **Fault ONE** are binary variables.

When Condition(ONE) = 1 (true), it means that the condition is at Sea Level

When Condition(ONE) = 0 (false), it means NO, the condition IS NOT AT SEA LEVEL, and thus is the  second condition; SIX.

When Fault ONE = 1 (true), it means that the fault modes is one (HPC Degradation)

When Fault ONE = 0 (false), it means that the fault mode is TWO (HPC Degradation and Fan degradation)

In [5]:
# Adding variables Condition and fault modes

def value_condition_train(row):
  if (row['id'] <= 100):
    return 1
  elif (row['id'] <= 360) & (row['id'] > 100):
    return 0
  elif (row['id'] <= 460) & (row['id'] > 360):
    return 1
  else:
    return 0
  
def value_fault_train(row):
  if (row['id'] <= 100):
    return 1
  elif (row['id'] <= 360) & (row['id'] > 100):
    return 1
  elif (row['id'] <= 460) & (row['id'] > 360):
    return 0
  else:
    return 0
  
def value_condition_test(row):
  if (row['id'] <= 100):
    return 1
  elif (row['id'] <= 359) & (row['id'] > 100):
    return 0
  elif (row['id'] <= 459) & (row['id'] > 359):
    return 1
  else:
    return 0
  
def value_fault_test(row):
  if (row['id'] <= 100):
    return 1
  elif (row['id'] <= 359) & (row['id'] > 100):
    return 1
  elif (row['id'] <= 459) & (row['id'] > 359):
    return 0
  else:
    return 0


train_pd['Condition (One)'] = train_pd.apply(value_condition_train, axis=1)
train_pd['Fault ONE'] = train_pd.apply(value_fault_train,axis=1)

test_pd['Condition (One)'] = test_pd.apply(value_condition_test, axis=1)
test_pd['Fault ONE'] = test_pd.apply(value_fault_test,axis=1)

display(train_pd)

        id  Time (Cycles)      OS1  ...      S21  Condition (One)  Fault ONE
0        1              1  -0.0007  ...  23.4190                1          1
1        1              2   0.0019  ...  23.4236                1          1
2        1              3  -0.0043  ...  23.3442                1          1
3        1              4   0.0007  ...  23.3739                1          1
4        1              5  -0.0019  ...  23.4044                1          1
...    ...            ...      ...  ...      ...              ...        ...
61244  709            251   9.9998  ...  17.5234                0          0
61245  709            252   0.0028  ...  23.7151                0          0
61246  709            253   0.0029  ...  23.8270                0          0
61247  709            254  35.0046  ...   9.0774                0          0
61248  709            255  42.0030  ...   6.4341                0          0

[160359 rows x 28 columns]

At this stage, we create the truth remaining useful life (RUL) for the training set.

Important note: In the training set, the last Cycle (represented in the table by 'Time (Cycles)') is when the engine is considered unusable. However, in the test set, the last cycle IS NOT when the engine is considered unusable. It will fail at a later time. Thus, in the valid_pd, we have the true RUL.

In [0]:
#Adding column for remaining useful life (RUL)

y_train = pd.DataFrame(train_pd.groupby(['id'])['Time (Cycles)'].max())

train_pd = pd.merge(train_pd,y_train, on='id')
train_pd['RUL'] = train_pd['Time (Cycles)_y'] - train_pd['Time (Cycles)_x']
train_pd = train_pd.drop('Time (Cycles)_y',1)
train_pd = train_pd.rename(columns = {'Time (Cycles)_x':'Time (Cycles)'})

y_train = train_pd.iloc[:,28]

In [0]:
def model_score(y_true, y_pred):
  pred_df = pd.DataFrame(y_pred)
  test_err = pd.concat([y_true,pred_df], axis=1)
  test_err.columns = ['RUL', 'Pred_RUL']
  a1 = 10
  a2 = 13
  score=0

  for index, row in test_err.iterrows():
    d = row['Pred_RUL'] - row['RUL']
    if d < 0:
      score += np.expm1(-(d/a1))
    else:
      score += np.expm1(d/a2)

  return score


# Data Exploration

**Now that we have our data, we can get to know our dataset**

In [0]:
display(train_pd.head())

display(test_pd)


print(f'The training dataset contains {train_pd.shape[0]} rows.')

In [0]:
# Print out a table with count, mean, std, min, max, 25%, 50%, 75%

print(train_pd.describe())

**Exploring the effects of sensors on RUL**

In [0]:


print(sns.heatmap(train_pd.corr(), annot=True, cmap='RdYlGn'))

train_pd.corr()

In [0]:
print()

**Exploring correlation between variables**

In [0]:
corr = train_pd.groupby(['RUL']).corr()
corr.style.background_gradient(cmap='coolwarm')

**How do we know when an engine fails?**

We look at the last time cycle for every id.

In [0]:
train_pd.groupby(['id'])['Time (Cycles)'].max().hist(bins=30, grid=False)
plt.xlabel('Number of Cycles')
plt.ylabel('Frequency')

#**Model 1: Multiple Linear Regression**

**Preparing data**

In [0]:
# Scaling data

train_pd_scaled = train_pd.copy()
train_pd_scaled.iloc[:,2:26] = scaler.fit_transform(train_pd.iloc[:,2:26])

test_pd_scaled = test_pd.copy()
test_pd_scaled.iloc[:,2:26] = scaler.fit_transform(test_pd.iloc[:,2:26])

pd.set_option('display.max_columns', None)  
pd.set_option('display.max_colwidth', -1)

In [0]:
# Removing RUL and id columns, as we do not want these features to be in our predictors

train_pd_lm = train_pd_scaled.copy()
train_pd_lm = train_pd_lm.drop(['id', 'RUL'],axis=1)

# Keeping only last time cycle for each id

idx = test_pd_scaled.groupby(['id'])['Time (Cycles)'].transform(max) == test_pd_scaled['Time (Cycles)']
test_pd_lm = test_pd_scaled[idx]

# Removing id column

test_pd_lm = test_pd_lm.drop(['id'], axis=1)

**Fitting Linear Model (Not time sensitive)**

In [11]:
# Fitting Linear model

reg = LinearRegression().fit(train_pd_lm, y_train)

y_pred = reg.predict(test_pd_lm)

acc_score_lm =  metrics.mean_absolute_error(valid_pd, y_pred)

print(f'The mean absolute error for the linear model is: {(acc_score_lm)}.')

The mean absolute error for the linear model is: 44.965450059476375.

**Linear Model with interactions & Polynomial**

In [0]:
# The PolynomialFeatures transforms our dataset to include ALL interactions and ALL variables^2.

lm_poly_int = PolynomialFeatures(2)
train_pd_lm_poly = lm_poly_int.fit_transform(train_pd_lm)

reg_poly = LinearRegression().fit(train_pd_lm_poly,y_train)

In [86]:
test_pd_lm_poly = lm_poly_int.fit_transform(test_pd_lm)

y_pred_poly = reg_poly.predict(test_pd_lm_poly)

acc_score_lm_poly =  metrics.mean_absolute_error(valid_pd, y_pred_poly)

print(f'The mean absolute error for the linear model is: {(acc_score_lm_poly)}.')

# We conclude that there is probabily high colinearity in the variables, so a model including interactions would not help much.

The mean absolute error for the linear model is: 6690.860898272314.

# **Model 3: Neural Networks**

# **Model 3.1: Neural Network**

In [44]:
# Building Model

model2 = Sequential()
model2.add(Dense(100,  activation='relu', input_shape=[len(train_pd_lm.keys())], kernel_regularizer=regularizers.l2(0.01), activity_regularizer=regularizers.l2(0.01)))
model2.add(Dense(100, activation='relu',kernel_regularizer=regularizers.l2(0.01), activity_regularizer=regularizers.l2(0.01)))
model2.add(Dense(100, activation='relu',kernel_regularizer=regularizers.l2(0.01),  activity_regularizer=regularizers.l2(0.01)))
model2.add(Dense(100, activation='relu',kernel_regularizer=regularizers.l2(0.01), activity_regularizer=regularizers.l2(0.01)))
model2.add(Dense(100, activation='relu',kernel_regularizer=regularizers.l2(0.01), activity_regularizer=regularizers.l2(0.01)))
model2.add(Dense(100, activation='relu',kernel_regularizer=regularizers.l2(0.01), activity_regularizer=regularizers.l2(0.01)))
model2.add(Dense(100, activation='relu',kernel_regularizer=regularizers.l2(0.01), activity_regularizer=regularizers.l2(0.01)))
model2.add(Dense(100, activation='relu',kernel_regularizer=regularizers.l2(0.01), activity_regularizer=regularizers.l2(0.01)))
model2.add(Dense(100, activation='relu',kernel_regularizer=regularizers.l2(0.01), activity_regularizer=regularizers.l2(0.01)))
model2.add(Dense(100, activation='relu',kernel_regularizer=regularizers.l2(0.01), activity_regularizer=regularizers.l2(0.01)))
model2.add(Dense(100, activation='relu',kernel_regularizer=regularizers.l2(0.01), activity_regularizer=regularizers.l2(0.01)))

model2.add(Dense(1))

model2.compile(loss='mean_squared_error', optimizer='rmsprop', metrics=['mae'])

print(model2.summary())

Model: "sequential_13"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_55 (Dense)             (None, 100)               2800
_________________________________________________________________
dense_56 (Dense)             (None, 100)               10100
_________________________________________________________________
dense_57 (Dense)             (None, 100)               10100
_________________________________________________________________
dense_58 (Dense)             (None, 100)               10100
_________________________________________________________________
dense_59 (Dense)             (None, 100)               10100
_________________________________________________________________
dense_60 (Dense)             (None, 100)               10100
_________________________________________________________________
dense_61 (Dense)             (None, 100)               10100
_________________________________________________________________
dense_62 (Dense)             (None, 100)               10100
_________________________________________________________________
dense_63 (Dense)             (None, 100)               10100
_________________________________________________________________
dense_64 (Dense)             (None, 100)               10100
_________________________________________________________________
dense_65 (Dense)             (None, 100)               10100
_________________________________________________________________
dense_66 (Dense)             (None, 1)                 101
=================================================================
Total params: 103,901
Trainable params: 103,901
Non-trainable params: 0
_________________________________________________________________
None

In [45]:
# Fitting model

NNmodel2 = model2.fit(train_pd_lm, y_train, epochs=100, batch_size=200, validation_split=0.05, verbose=1,callbacks =[keras.callbacks.EarlyStopping(monitor='val_loss', min_delta=0, patience=5, verbose=0, mode='min')])
#NNmodel2 = model2.fit(train_pd_lm, y_train, epochs=10, batch_size=200, validation_split=0.05, verbose=1)

Train on 152341 samples, validate on 8018 samples
Epoch 1/100
152341/152341 [==============================] - 7s 45us/step - loss: 11494.4032 - mean_absolute_error: 55.0218 - val_loss: 4431.1032 - val_mean_absolute_error: 41.2999
Epoch 2/100
152341/152341 [==============================] - 6s 38us/step - loss: 4618.5706 - mean_absolute_error: 44.3435 - val_loss: 3514.9740 - val_mean_absolute_error: 40.2880
Epoch 3/100
152341/152341 [==============================] - 6s 37us/step - loss: 4010.1143 - mean_absolute_error: 42.7112 - val_loss: 3973.0281 - val_mean_absolute_error: 47.0076
Epoch 4/100
152341/152341 [==============================] - 6s 37us/step - loss: 3704.9102 - mean_absolute_error: 41.5969 - val_loss: 2891.8027 - val_mean_absolute_error: 37.0188
Epoch 5/100
152341/152341 [==============================] - 6s 38us/step - loss: 3450.3497 - mean_absolute_error: 40.3535 - val_loss: 2868.2882 - val_mean_absolute_error: 38.2413
Epoch 6/100
152341/152341 [==============================] - 6s 39us/step - loss: 3287.0193 - mean_absolute_error: 39.4807 - val_loss: 3933.5932 - val_mean_absolute_error: 48.3510
Epoch 7/100
152341/152341 [==============================] - 6s 38us/step - loss: 3141.0499 - mean_absolute_error: 38.6882 - val_loss: 2544.8091 - val_mean_absolute_error: 35.9689
Epoch 8/100
152341/152341 [==============================] - 6s 37us/step - loss: 3049.3634 - mean_absolute_error: 38.1186 - val_loss: 2868.2592 - val_mean_absolute_error: 40.8205
Epoch 9/100
152341/152341 [==============================] - 6s 37us/step - loss: 2950.9309 - mean_absolute_error: 37.5631 - val_loss: 2563.0452 - val_mean_absolute_error: 37.1905
Epoch 10/100
152341/152341 [==============================] - 6s 37us/step - loss: 2891.0128 - mean_absolute_error: 37.2629 - val_loss: 2250.4276 - val_mean_absolute_error: 33.4273
Epoch 11/100
152341/152341 [==============================] - 6s 37us/step - loss: 2830.2703 - mean_absolute_error: 36.9298 - val_loss: 3201.2478 - val_mean_absolute_error: 43.6433
Epoch 12/100
152341/152341 [==============================] - 6s 37us/step - loss: 2780.9195 - mean_absolute_error: 36.5799 - val_loss: 2423.5614 - val_mean_absolute_error: 35.7586
Epoch 13/100
152341/152341 [==============================] - 6s 38us/step - loss: 2732.6876 - mean_absolute_error: 36.3566 - val_loss: 2442.5331 - val_mean_absolute_error: 35.7458
Epoch 14/100
152341/152341 [==============================] - 6s 37us/step - loss: 2700.2834 - mean_absolute_error: 36.0308 - val_loss: 2843.8998 - val_mean_absolute_error: 41.2905
Epoch 15/100
152341/152341 [==============================] - 6s 42us/step - loss: 2660.6941 - mean_absolute_error: 35.8431 - val_loss: 2650.7150 - val_mean_absolute_error: 39.6974

# **Model 3.2: Reccurent Neural Network with LSTM architecture**

In [42]:
# Using Azure tutorial for predictive maintenance for data manipulation
# Reference: https://github.com/Azure/lstms_for_predictive_maintenance/blob/master/Deep%20Learning%20Basics%20for%20Predictive%20Maintenance.ipynb

# Picking a sequence length - This will be the window of time in which the LSTM will gather data from

sequence_length = 50


# This function will reshape our data so it can be usable with Keras (Samples, time window, features)
def gen_sequence(id_df, seq_length,seq_cols):
  data_array = id_df[seq_cols].values
  num_elements = data_array.shape[0]
  for start,stop in zip(range(0, num_elements-seq_length), range(seq_length, num_elements)):
    yield data_array[start:stop,:]

# Reference column names

sensor_cols = ['S' + str(i) for i in range(1,22)]
sequence_cols = ['Time (Cycles)', 'OS1', 'OS2', 'OS3']
other_cols = ['Condition (One)', 'Fault ONE']
sequence_cols.extend(sensor_cols)
sequence_cols.extend(other_cols)

# Generating sequences

seq_gen = (list(gen_sequence(train_pd_scaled[train_pd_scaled['id']==id], sequence_length,sequence_cols))
          for id in train_pd_scaled['id'].unique())

# Generate sequences and convert to numpy array

seq_array = np.concatenate(list(seq_gen)).astype(np.float32)
print(seq_array.shape)

def gen_labels(id_df, seq_length, label):
  data = id_df[label].values
  num_elements = data.shape[0]
  return data[seq_length:num_elements,:]

label_gen = [gen_labels(train_pd_scaled[train_pd_scaled['id']==id], sequence_length, ['RUL'])
            for id in train_pd_scaled['id'].unique()]

label_array = np.concatenate(label_gen).astype(np.float32)
print(seq_gen)

(124909, 50, 27)
<generator object <genexpr> at 0x7f4bede5dba0>

In [52]:
# Building the RNN

nb_features = seq_array.shape[2]
nb_out = label_array.shape[1]

model = Sequential()
model.add(LSTM(input_shape=(sequence_length, nb_features), units=100, return_sequences=True))
model.add(Dropout(0.2))
model.add(LSTM(input_shape=(sequence_length, nb_features), units=50, return_sequences=False))
model.add(Dropout(0.2))

model.add(Dense(units=nb_out))
model.add(Activation('linear'))
model.compile(loss='mean_squared_error', optimizer='rmsprop', metrics=['mae'])

print(model.summary())

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:148: The name tf.placeholder_with_default is deprecated. Please use tf.compat.v1.placeholder_with_default instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3733: calling dropout (from tensorflow.python.ops.nn_ops) with keep_prob is deprecated and will be removed in a future version.
Instructions for updating:
Please use `rate` instead of `keep_prob`. Rate should be set to `rate = 1 - keep_prob`.
Model: "sequential_17"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm_9 (LSTM)                (None, 50, 100)           51200
_________________________________________________________________
dropout_1 (Dropout)          (None, 50, 100)           0
_________________________________________________________________
lstm_10 (LSTM)               (None, 50)                30200
_________________________________________________________________
dropout_2 (Dropout)          (None, 50)                0
_________________________________________________________________
dense_70 (Dense)             (None, 1)                 51
_________________________________________________________________
activation_5 (Activation)    (None, 1)                 0
=================================================================
Total params: 81,451
Trainable params: 81,451
Non-trainable params: 0
_________________________________________________________________
None

In [53]:
# Fitting the RNN

NNmodel = model.fit(seq_array, label_array, epochs=100, batch_size=200, validation_split=0.05, verbose=1, callbacks =[keras.callbacks.EarlyStopping(monitor='val_loss', min_delta=0, patience=0, verbose=0, mode='min')])

Train on 118663 samples, validate on 6246 samples
Epoch 1/100
118663/118663 [==============================] - 180s 2ms/step - loss: 11263.6000 - mean_absolute_error: 79.7464 - val_loss: 9381.0478 - val_mean_absolute_error: 73.6410
Epoch 2/100
118663/118663 [==============================] - 178s 1ms/step - loss: 7606.8498 - mean_absolute_error: 63.1650 - val_loss: 6331.0122 - val_mean_absolute_error: 60.2269
Epoch 3/100
118663/118663 [==============================] - 178s 1ms/step - loss: 5496.2044 - mean_absolute_error: 53.1984 - val_loss: 4953.3979 - val_mean_absolute_error: 55.6433
Epoch 4/100
118663/118663 [==============================] - 179s 2ms/step - loss: 4173.1515 - mean_absolute_error: 45.7890 - val_loss: 3799.5020 - val_mean_absolute_error: 49.5679
Epoch 5/100
118663/118663 [==============================] - 180s 2ms/step - loss: 3458.4496 - mean_absolute_error: 41.6263 - val_loss: 3811.0235 - val_mean_absolute_error: 51.5891

In [0]:
# Adding RUL to test set

truth_nn= valid_pd.copy()
max_hid = pd.DataFrame(test_pd.groupby('id')['Time (Cycles)'].max()).reset_index()
max_hid.columns = ['id','max']
truth_nn.columns = ['truth']
truth_nn['id'] = truth_nn.index +1
truth_nn['truth'] = truth_nn['truth'] + max_hid['max']

test_pd_nn = test_pd.copy()
test_pd_nn = test_pd_nn.merge(truth_nn, on=['id'], how='left')
test_pd_nn['RUL'] = test_pd_nn['truth'] - test_pd_nn['Time (Cycles)']
test_pd_nn.drop('truth', axis=1, inplace=True)

print(test_pd_nn)

In [56]:
# Testing performance on test set

seq_array_test = [test_pd_nn[test_pd_nn['id']==id][sequence_cols].values[-sequence_length:]
                 for id in test_pd_nn['id'].unique() if len(test_pd_nn[test_pd_nn['id']==id]) >= sequence_length]

seq_array_test = np.asarray(seq_array_test).astype(np.float32)

y_mask = [len(test_pd_nn[test_pd_nn['id']==id]) >= sequence_length for id in test_pd_nn['id'].unique()]

label_array_test = test_pd_nn.groupby('id')['RUL'].nth(-1)[y_mask].values
label_array_test = label_array_test.reshape(label_array_test.shape[0],1).astype(np.float32)

print(seq_array_test.shape)
print(label_aray_test.shape)

NameError: ignored