<a href="https://colab.research.google.com/github/francoisdoanp/MLTBP/blob/master/Project_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Machine learning - Final Project**

# Turbofan engine degradation dataset (NASA)

# Data Preparation

**Importing necessary packages**

In [2]:

import pandas as pd
import numpy as np
import keras
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
import sklearn.metrics as metrics
import math
from keras.models import Sequential
from keras.layers import Dense, Dropout, Activation, Embedding, LSTM
from sklearn.preprocessing import PolynomialFeatures

Using TensorFlow backend.

**Importing the Turbofan engine degradation dataset.**

**Files are located in the following Github repository: https://github.com/francoisdoanp/MLTBP**

We have 4 training datasets, which contains information about one hundred engines, all of the same type. Thus, we will combine the training and test data sets. 

The training and test sets have 21 columns: ID, Time (Cycles), 3 columns for operational settings and 21 sensor measurements.

The training and testing sets have the same format, while the validation sets only contain the real RUL (remaining useful life).

For more information on the data, consult the read me at the following address:https://github.com/francoisdoanp/MLTBP/blob/master/readme.txt

In [0]:
url_base = 'https://raw.githubusercontent.com/francoisdoanp/MLTBP/master/'

file_train_1 = 'train_FD001.txt'
file_train_2 = 'train_FD002.txt'
file_train_3 = 'train_FD003.txt'
file_train_4 = 'train_FD004.txt'

file_test_1 = 'test_FD001.txt'
file_test_2 = 'test_FD002.txt'
file_test_3 = 'test_FD003.txt'
file_test_4 = 'test_FD004.txt'

file_valid_1 = 'RUL_FD001.txt'
file_valid_2 = 'RUL_FD002.txt'
file_valid_3 = 'RUL_FD003.txt'
file_valid_4 = 'RUL_FD004.txt'


pt1 = pd.read_csv(url_base + file_train_1, sep=' ', header=None)
pt2 = pd.read_csv(url_base + file_train_2, sep=' ', header=None)
pt3 = pd.read_csv(url_base + file_train_3, sep=' ', header=None)
pt4 = pd.read_csv(url_base + file_train_4, sep=' ', header=None)

pte1 = pd.read_csv(url_base + file_test_1, sep=' ', header=None)
pte2 = pd.read_csv(url_base + file_test_2, sep=' ', header=None)
pte3 = pd.read_csv(url_base + file_test_3, sep=' ', header=None)
pte4 = pd.read_csv(url_base + file_test_4, sep=' ', header=None)

pv1 = pd.read_csv(url_base + file_valid_1, header=None)
pv2 = pd.read_csv(url_base + file_valid_2, header=None)
pv3 = pd.read_csv(url_base + file_valid_3, header=None)
pv4 = pd.read_csv(url_base + file_valid_4, header=None)


# Updating ids

pt2[0] = pt2[0].apply(lambda x: x+100)
pt3[0] = pt3[0].apply(lambda x: x+360)
pt4[0] = pt4[0].apply(lambda x: x+460)

pte2[0] = pte2[0].apply(lambda x: x+100)
pte3[0] = pte3[0].apply(lambda x: x+359)
pte4[0] = pte4[0].apply(lambda x: x+459)


# Joining the dataframes

train_pd = pd.concat([pt1,pt2,pt3,pt4])
test_pd = pd.concat([pte1,pte2,pte3,pte4])
valid_pd = pd.concat([pv1,pv2,pv3,pv4], ignore_index=True)

train_pd = train_pd.drop(train_pd.columns[[26,27]], axis='columns')
test_pd = test_pd.drop(test_pd.columns[[26,27]], axis='columns')


# Assigning labels to Dataframe's columns based on the Readme

train_pd.columns = ['id', 'Time (Cycles)', 'OS1', 'OS2', 'OS3', 'S1', 'S2', 'S3', 'S4', 'S5', 'S6', 'S7', 'S8', 'S9', 'S10', 'S11', 'S12', 'S13', 'S14', 'S15', 'S16', 'S17', 'S18', 'S19', 'S20', 'S21']
test_pd.columns = ['id', 'Time (Cycles)', 'OS1', 'OS2', 'OS3', 'S1', 'S2', 'S3', 'S4', 'S5', 'S6', 'S7', 'S8', 'S9', 'S10', 'S11', 'S12', 'S13', 'S14', 'S15', 'S16', 'S17', 'S18', 'S19', 'S20', 'S21']
valid_pd.columns = ['RUL']

#Loading scaler

scaler = StandardScaler()

**Adding variables Conditons and fault mode**

Note:

**Condition (ONE)** and **Fault ONE** are binary variables.

When Condition(ONE) = 1 (true), it means that the condition is at Sea Level

When Condition(ONE) = 0 (false), it means NO, the condition IS NOT AT SEA LEVEL, and thus is the  second condition; SIX.

When Fault ONE = 1 (true), it means that the fault modes is one (HPC Degradation)

When Fault ONE = 0 (false), it means that the fault mode is TWO (HPC Degradation and Fan degradation)

In [4]:
# Adding variables Condition and fault modes

def value_condition_train(row):
  if (row['id'] <= 100):
    return 1
  elif (row['id'] <= 360) & (row['id'] > 100):
    return 0
  elif (row['id'] <= 460) & (row['id'] > 360):
    return 1
  else:
    return 0
  
def value_fault_train(row):
  if (row['id'] <= 100):
    return 1
  elif (row['id'] <= 360) & (row['id'] > 100):
    return 1
  elif (row['id'] <= 460) & (row['id'] > 360):
    return 0
  else:
    return 0
  
def value_condition_test(row):
  if (row['id'] <= 100):
    return 1
  elif (row['id'] <= 359) & (row['id'] > 100):
    return 0
  elif (row['id'] <= 459) & (row['id'] > 359):
    return 1
  else:
    return 0
  
def value_fault_test(row):
  if (row['id'] <= 100):
    return 1
  elif (row['id'] <= 359) & (row['id'] > 100):
    return 1
  elif (row['id'] <= 459) & (row['id'] > 359):
    return 0
  else:
    return 0


train_pd['Condition (One)'] = train_pd.apply(value_condition_train, axis=1)
train_pd['Fault ONE'] = train_pd.apply(value_fault_train,axis=1)

test_pd['Condition (One)'] = test_pd.apply(value_condition_test, axis=1)
test_pd['Fault ONE'] = test_pd.apply(value_fault_test,axis=1)

display(train_pd)

        id  Time (Cycles)      OS1  ...      S21  Condition (One)  Fault ONE
0        1              1  -0.0007  ...  23.4190                1          1
1        1              2   0.0019  ...  23.4236                1          1
2        1              3  -0.0043  ...  23.3442                1          1
3        1              4   0.0007  ...  23.3739                1          1
4        1              5  -0.0019  ...  23.4044                1          1
...    ...            ...      ...  ...      ...              ...        ...
61244  709            251   9.9998  ...  17.5234                0          0
61245  709            252   0.0028  ...  23.7151                0          0
61246  709            253   0.0029  ...  23.8270                0          0
61247  709            254  35.0046  ...   9.0774                0          0
61248  709            255  42.0030  ...   6.4341                0          0

[160359 rows x 28 columns]

At this stage, we create the truth remaining useful life (RUL) for the training set.

Important note: In the training set, the last Cycle (represented in the table by 'Time (Cycles)') is when the engine is considered unusable. However, in the test set, the last cycle IS NOT when the engine is considered unusable. It will fail at a later time. Thus, in the valid_pd, we have the true RUL.

In [0]:
#Adding column for remaining useful life (RUL)

y_train = pd.DataFrame(train_pd.groupby(['id'])['Time (Cycles)'].max())

train_pd = pd.merge(train_pd,y_train, on='id')
train_pd['RUL'] = train_pd['Time (Cycles)_y'] - train_pd['Time (Cycles)_x']
train_pd = train_pd.drop('Time (Cycles)_y',1)
train_pd = train_pd.rename(columns = {'Time (Cycles)_x':'Time (Cycles)'})

y_train = train_pd.iloc[:,28]

In [0]:
def model_score(y_true, y_pred):
  pred_df = pd.DataFrame(y_pred)
  test_err = pd.concat([y_true,pred_df], axis=1)
  test_err.columns = ['RUL', 'Pred_RUL']
  a1 = 10
  a2 = 13
  score=0

  for index, row in test_err.iterrows():
    d = row['Pred_RUL'] - row['RUL']
    if d < 0:
      score += np.expm1(-(d/a1))
    else:
      score += np.expm1(d/a2)

  return score


# Data Exploration

**Now that we have our data, we can get to know our dataset**

In [0]:
display(train_pd.head())

display(test_pd)


print(f'The training dataset contains {train_pd.shape[0]} rows.')

In [0]:
# Print out a table with count, mean, std, min, max, 25%, 50%, 75%

print(train_pd.describe())

**Exploring the effects of sensors on RUL**

In [0]:


print(sns.heatmap(train_pd.corr(), annot=True, cmap='RdYlGn'))

train_pd.corr()

In [0]:
print()

**Exploring correlation between variables**

In [0]:
corr = train_pd.groupby(['RUL']).corr()
corr.style.background_gradient(cmap='coolwarm')

**How do we know when an engine fails?**

We look at the last time cycle for every id.

In [0]:
train_pd.groupby(['id'])['Time (Cycles)'].max().hist(bins=30, grid=False)
plt.xlabel('Number of Cycles')
plt.ylabel('Frequency')

#**Model 1: Multiple Linear Regression**

**Preparing data**

In [8]:
# Scaling data

train_pd_scaled = train_pd.copy()
train_pd_scaled.iloc[:,2:26] = scaler.fit_transform(train_pd.iloc[:,2:26])

test_pd_scaled = test_pd.copy()
test_pd_scaled.iloc[:,2:26] = scaler.fit_transform(test_pd.iloc[:,2:26])

pd.set_option('display.max_columns', None)  
pd.set_option('display.max_colwidth', -1)

print(train_pd_scaled)

         id  Time (Cycles)       OS1       OS2       OS3        S1        S2  \
0       1    1             -1.041429 -1.115418  0.345955  1.079185  1.046626
1       1    2             -1.041272 -1.115146  0.345955  1.079185  1.054395
2       1    3             -1.041647 -1.113516  0.345955  1.079185  1.059103
3       1    4             -1.041344 -1.114331  0.345955  1.079185  1.059103
4       1    5             -1.041502 -1.114874  0.345955  1.079185  1.059574
...    ..   ..                   ...       ...       ...       ...       ...
160354  709  251           -0.436363 -0.434867  0.345955  0.105492  0.187601
160355  709  252           -1.041217 -1.110254  0.345955  1.079185  1.084292
160356  709  253           -1.041211 -1.114331  0.345955  1.079185  1.090413
160357  709  254            1.076518  1.168668  0.345955 -1.196599 -0.979110
160358  709  255            1.499947  1.168668  0.345955 -1.342554 -1.118475

              S3        S4        S5        S6        S7        S8        S9  \
0       1.037990  1.024534  1.107714  1.115018  1.117707  0.802032  0.983932
1       1.055929  1.043169  1.107714  1.115018  1.114204  0.801891  0.978273
2       1.023520  1.050946  1.107714  1.115018  1.117133  0.802172  1.001949
3       0.979517  1.033851  1.107714  1.115018  1.118224  0.802383  0.992713
4       0.980025  1.065766  1.107714  1.115018  1.115640  0.802032  1.007847
...          ...       ...       ...       ...       ...       ...       ...
160354  0.417384  0.398560  0.146523  0.160627  0.257619  0.321783  0.434015
160355  1.116010  1.216537  1.107714  1.108810  1.193683  0.804910  1.173252
160356  1.190476  1.244343  1.107714  1.108810  1.202010  0.805191  1.198369
160357 -0.725583 -0.827415 -1.035039 -1.003264 -0.917688 -0.351408 -0.731107
160358 -0.823235 -0.832771 -1.403104 -1.355535 -1.247665 -0.430467 -0.764017

             S10       S11       S12       S13       S14       S15       S16  \
0       1.029505  0.950857  1.113752  0.345200  0.616065 -0.845217  0.963589
1       1.029505  0.956694  1.117528  0.345649  0.527629 -0.828851  0.963589
2       1.029505  0.892485  1.118380  0.345289  0.549211 -0.847479  0.963589
3       1.029505  0.851625  1.121060  0.345739  0.556653 -0.913473  0.963589
4       1.029505  0.895404  1.116979  0.345379  0.556281 -0.832044  0.963589
...          ...       ...       ...       ...       ...       ...       ...
160354  0.818389  0.545175  0.251961  0.351586  1.199894 -0.799180  0.963589
160355  1.099876  1.117215  1.195119  0.349158  1.197165 -1.107864  0.963589
160356  1.099876  1.175587  1.197495  0.349337  1.302222 -1.067416  0.963589
160357 -0.729789 -0.490918 -0.918857  0.352486  0.455069 -0.004320 -1.037786
160358 -0.729789 -0.470488 -1.245302  0.350957  0.686889  0.087753 -1.037786

             S17       S18       S19       S20       S21  Condition (One)  \
0       1.009022  0.801655  0.345955  1.121962  1.119494  1
1       1.009022  0.801655  0.345955  1.116830  1.120150  1
2       0.944550  0.801655  0.345955  1.112553  1.108831  1
3       1.009022  0.801655  0.345955  1.106566  1.113065  1
4       1.041258  0.801655  0.345955  1.108277  1.117413  1
...          ...       ...       ...       ...       ... ..
160354  0.364304  0.317487  0.345955  0.270908  0.279072  0
160355  1.137965  0.801655  0.345955  1.149333  1.161703  0
160356  1.105729  0.801655  0.345955  1.183546  1.177655  0
160357 -0.763952 -0.356137  0.345955 -0.913725 -0.924912  0
160358 -0.892895 -0.433323  0.345955 -1.307177 -1.301717  0

        Fault ONE  RUL
0       1          191
1       1          190
2       1          189
3       1          188
4       1          187
...    ..          ...
160354  0          4
160355  0          3
160356  0          2
160357  0          1
160358  0          0

[160359 rows x 29 columns]

In [9]:
# Removing RUL and id columns, as we do not want these features to be in our predictors

train_pd_lm = train_pd_scaled.copy()
train_pd_lm = train_pd_lm.drop(['id', 'RUL'],axis=1)

# Keeping only last time cycle for each id

idx = test_pd_scaled.groupby(['id'])['Time (Cycles)'].transform(max) == test_pd_scaled['Time (Cycles)']
test_pd_lm = test_pd_scaled[idx]

# Removing id column

test_pd_lm = test_pd_lm.drop(['id'], axis=1)

print(test_pd_lm)

       Time (Cycles)       OS1       OS2       OS3        S1        S2  \
30     31            -1.043215 -1.115222  0.344855  1.080588  1.070615
79     49            -1.043070 -1.116581  0.344855  1.080588  1.069908
205    126           -1.043276 -1.115222  0.344855  1.080588  1.077685
311    106           -1.043106 -1.115222  0.344855  1.080588  1.075328
409    98            -1.043257 -1.117396  0.344855  1.080588  1.063309
...    ..                  ...       ...       ...       ...       ...
40746  184            0.166962  0.785472  0.344855  0.177433  0.254220
40809  63             0.167137  0.790091  0.344855  0.177433  0.222874
40838  29             0.166629  0.787646  0.344855  0.177433  0.227823
40932  94             0.469362  0.572473 -2.899767 -0.764176 -1.419815
41213  281            1.074629  1.166372  0.344855 -1.194719 -0.960475

             S3        S4        S5        S6        S7        S8        S9  \
30     0.988336  1.043774  1.109408  1.116990  1.120571  0.803554  1.031441
79     1.033900  1.131597  1.109408  1.116990  1.115401  0.803695  1.000278
205    1.060713  1.190980  1.109408  1.116990  1.110058  0.804117  1.012309
311    1.101270  1.102495  1.109408  1.116990  1.110345  0.803906  1.017775
409    1.062325  1.194443  1.109408  1.116990  1.114079  0.803695  1.024983
...         ...       ...       ...       ...       ...       ...       ...
40746  0.199494 -0.012675 -0.126082 -0.116853 -0.141665  0.354192  0.242294
40809  0.142051 -0.139546 -0.126082 -0.118405 -0.130634  0.352222  0.148109
40838  0.155033 -0.117296 -0.126082 -0.118405 -0.140861  0.352011  0.136104
40932 -1.723017 -1.509711 -0.665290 -0.835430 -1.054474 -2.522656 -1.781444
41213 -0.731046 -0.858631 -1.033358 -0.995287 -0.948646 -0.354361 -0.746263

            S10       S11       S12       S13       S14       S15       S16  \
30     1.034820  0.918932  1.117260  0.344925  0.575289 -0.860776  0.992317
79     1.034820  1.048028  1.116955  0.345196  0.534633 -0.796504  0.992317
205    1.034820  1.109642  1.111410  0.345647  0.592387 -0.848082  0.992317
311    1.034820  1.042160  1.117808  0.345376  0.619998 -0.779267  0.992317
409    1.034820  0.986414  1.112446  0.345737  0.519942 -0.815612  0.992317
...         ...       ...       ...       ...       ...       ...       ...
40746 -0.514170  0.170763 -0.143727  0.347901  0.118197  0.279410 -1.007742
40809 -0.514170  0.041667 -0.136781  0.344655 -0.226680  0.127617 -1.007742
40838 -0.514170 -0.025815 -0.141473  0.344565 -0.301785  0.173984 -1.007742
40932 -1.499890 -2.082547 -1.059275 -2.899912 -2.611688  2.520899 -1.007742
41213 -0.936621 -0.592076 -0.953979  0.349705  0.170758  0.467415 -1.007742

            S17       S18       S19       S20       S21  Condition (One)  \
30     1.063997  0.802702  0.344855  1.099067  1.108854  1
79     0.999340  0.802702  0.344855  1.099067  1.095551  1
205    1.128655  0.802702  0.344855  1.109322  1.097288  1
311    1.128655  0.802702  0.344855  1.079410  1.095023  1
409    1.096326  0.802702  0.344855  1.093939  1.116902  1
...         ...       ...       ...       ...       ... ..
40746  0.126467  0.352687  0.344855 -0.130747 -0.148753  0
40809  0.094138  0.352687  0.344855 -0.106818 -0.104668  0
40838  0.126467  0.352687  0.344855 -0.106818 -0.118698  0
40932 -1.716266 -2.523192 -2.899767 -1.003326 -1.011077  0
41213 -0.811064 -0.357493  0.344855 -0.959740 -0.957221  0

       Fault ONE
30     1
79     1
205    1
311    1
409    1
...   ..
40746  0
40809  0
40838  0
40932  0
41213  0

[707 rows x 27 columns]

**Fitting Linear Model (Not time sensitive)**

In [84]:
# Fitting Linear model

reg = LinearRegression().fit(train_pd_lm, y_train)

y_pred = reg.predict(test_pd_lm)

acc_score_lm =  metrics.mean_absolute_error(valid_pd, y_pred)

print(f'The mean absolute error for the linear model is: {(acc_score_lm)}.')

The mean absolute error for the linear model is: 44.965450059476375.

**Linear Model with interactions & Polynomial**

In [0]:
# The PolynomialFeatures transforms our dataset to include ALL interactions and ALL variables^2.

lm_poly_int = PolynomialFeatures(2)
train_pd_lm_poly = lm_poly_int.fit_transform(train_pd_lm)

reg_poly = LinearRegression().fit(train_pd_lm_poly,y_train)

In [86]:
test_pd_lm_poly = lm_poly_int.fit_transform(test_pd_lm)

y_pred_poly = reg_poly.predict(test_pd_lm_poly)

acc_score_lm_poly =  metrics.mean_absolute_error(valid_pd, y_pred_poly)

print(f'The mean absolute error for the linear model is: {(acc_score_lm_poly)}.')

# We conclude that there is probabily high colinearity in the variables, so a model including interactions would not help much.

The mean absolute error for the linear model is: 6690.860898272314.

#**Model 3: Recurrent Neural Networks with LSTM architecture**

In [10]:
# Using Azure tutorial for predictive maintenance for data manipulation
# Reference: https://github.com/Azure/lstms_for_predictive_maintenance/blob/master/Deep%20Learning%20Basics%20for%20Predictive%20Maintenance.ipynb

# Picking a sequence length - This will be the window of time in which the LSTM will gather data from

sequence_length = 50


# This function will reshape our data so it can be usable with Keras (Samples, time window, features)
def gen_sequence(id_df, seq_length,seq_cols):
  data_array = id_df[seq_cols].values
  num_elements = data_array.shape[0]
  for start,stop in zip(range(0, num_elements-seq_length), range(seq_length, num_elements)):
    yield data_array[start:stop,:]

# Reference column names

sensor_cols = ['S' + str(i) for i in range(1,22)]
sequence_cols = ['Time (Cycles)', 'OS1', 'OS2', 'OS3']
other_cols = ['Condition (One)', 'Fault ONE']
sequence_cols.extend(sensor_cols)
sequence_cols.extend(other_cols)

# Generating sequences

seq_gen = (list(gen_sequence(train_pd_scaled[train_pd_scaled['id']==id], sequence_length,sequence_cols))
          for id in train_pd_scaled['id'].unique())

# Generate sequences and convert to numpy array

seq_array = np.concatenate(list(seq_gen)).astype(np.float32)
print(seq_array.shape)

def gen_labels(id_df, seq_length, label):
  data = id_df[label].values
  num_elements = data.shape[0]
  return data[seq_length:num_elements,:]

label_gen = [gen_labels(train_pd_scaled[train_pd_scaled['id']==id], sequence_length, ['RUL'])
            for id in train_pd_scaled['id'].unique()]

label_array = np.concatenate(label_gen).astype(np.float32)
print(seq_gen)

(124909, 50, 27)
<generator object <genexpr> at 0x7fb4110cc360>

In [15]:
# Building the RNN

nb_features = seq_array.shape[2]
nb_out = label_array.shape[1]

model = Sequential()
model.add(LSTM(input_shape=(sequence_length, nb_features), units=100, return_sequences=True))
model.add(LSTM(input_shape=(sequence_length, nb_features), units=100, return_sequences=False))


model.add(Dense(units=nb_out))
model.add(Activation('linear'))
model.compile(loss='mean_squared_error', optimizer='rmsprop', metrics=['mae'])

print(model.summary())

Model: "sequential_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm_10 (LSTM)               (None, 50, 100)           51200
_________________________________________________________________
lstm_11 (LSTM)               (None, 100)               80400
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 101
_________________________________________________________________
activation_3 (Activation)    (None, 1)                 0
=================================================================
Total params: 131,701
Trainable params: 131,701
Non-trainable params: 0
_________________________________________________________________
None

In [16]:
# Fitting the RNN

NNmodel = model.fit(seq_array, label_array, epochs=100, batch_size=200, validation_split=0.05, verbose=1, callbacks =[keras.callbacks.EarlyStopping(monitor='val_loss', min_delta=0, patience=0, verbose=0, mode='min')])

Train on 118663 samples, validate on 6246 samples
Epoch 1/100
118663/118663 [==============================] - 226s 2ms/step - loss: 9258.8043 - mean_absolute_error: 70.6739 - val_loss: 6355.2931 - val_mean_absolute_error: 60.6914
Epoch 2/100
118663/118663 [==============================] - 225s 2ms/step - loss: 5004.5189 - mean_absolute_error: 51.0532 - val_loss: 3692.0614 - val_mean_absolute_error: 48.2885
Epoch 3/100
118663/118663 [==============================] - 224s 2ms/step - loss: 3591.4863 - mean_absolute_error: 43.5153 - val_loss: 2681.1300 - val_mean_absolute_error: 38.4148
Epoch 4/100
118663/118663 [==============================] - 226s 2ms/step - loss: 3100.4306 - mean_absolute_error: 40.1883 - val_loss: 2738.3736 - val_mean_absolute_error: 43.6188

In [59]:
# Adding RUL to test set

truth_nn= valid_pd.copy()
max_hid = pd.DataFrame(test_pd.groupby('id')['Time (Cycles)'].max()).reset_index()
max_hid.columns = ['id','max']
truth_nn.columns = ['truth']
truth_nn['id'] = truth_nn.index +1
truth_nn['truth'] = truth_nn['truth'] + max_hid['max']

test_pd_nn = test_pd.copy()
test_pd_nn = test_pd_nn.merge(truth_nn, on=['id'], how='left')
test_pd_nn['RUL'] = test_pd_nn['truth'] - test_pd_nn['Time (Cycles)']
test_pd_nn.drop('truth', axis=1, inplace=True)

print(test_pd_nn)

         id  Time (Cycles)      OS1     OS2    OS3      S1      S2       S3  \
0       1    1              0.0023   0.0003  100.0  518.67  643.02  1585.29
1       1    2             -0.0027  -0.0003  100.0  518.67  641.71  1588.45
2       1    3              0.0003   0.0001  100.0  518.67  642.46  1586.94
3       1    4              0.0042   0.0000  100.0  518.67  642.44  1584.12
4       1    5              0.0014   0.0000  100.0  518.67  642.51  1587.19
...    ..   ..                 ...      ...    ...     ...     ...      ...
104892  707  277            41.9991  0.8401  100.0  445.00  550.30  1364.40
104893  707  278            20.0026  0.7005  100.0  491.19  608.00  1494.75
104894  707  279            34.9988  0.8413  100.0  449.44  555.92  1370.65
104895  707  280            20.0027  0.7000  100.0  491.19  608.19  1489.11
104896  707  281            35.0075  0.8402  100.0  449.44  556.40  1378.58

             S4     S5     S6      S7       S8       S9   S10    S11     S12  \
0       1398.21  14.62  21.61  553.90  2388.04  9050.17  1.30  47.20  521.72
1       1395.42  14.62  21.61  554.85  2388.01  9054.42  1.30  47.50  522.16
2       1401.34  14.62  21.61  554.11  2388.05  9056.96  1.30  47.50  521.97
3       1406.42  14.62  21.61  554.07  2388.03  9045.29  1.30  47.28  521.38
4       1401.92  14.62  21.61  554.16  2388.01  9044.55  1.30  47.31  522.15
...         ...    ...    ...     ...      ...      ...   ...    ...     ...
104892  1129.17  3.91   5.72   138.34  2212.35  8351.73  1.02  42.30  130.87
104893  1260.88  9.35   13.66  334.75  2324.23  8758.69  1.07  44.53  314.51
104894  1130.97  5.48   8.00   194.92  2223.57  8370.49  1.02  42.33  182.76
104895  1256.25  9.35   13.66  333.15  2324.19  8753.04  1.07  44.78  314.17
104896  1140.70  5.48   8.00   194.26  2223.50  8392.96  1.02  42.08  181.88

            S13      S14     S15   S16  S17   S18    S19    S20      S21  \
0       2388.03  8125.55  8.4052  0.03  392  2388  100.0  38.86  23.3735
1       2388.06  8139.62  8.3803  0.03  393  2388  100.0  39.02  23.3916
2       2388.03  8130.10  8.4441  0.03  393  2388  100.0  39.08  23.4166
3       2388.05  8132.90  8.3917  0.03  391  2388  100.0  39.00  23.3737
4       2388.03  8129.54  8.4031  0.03  390  2388  100.0  38.99  23.4130
...         ...      ...     ...   ...  ...   ...    ...    ...      ...
104892  2388.50  8112.61  9.4427  0.02  331  2212  100.0  10.53  6.2620
104893  2388.33  8086.83  9.2772  0.02  366  2324  100.0  24.33  14.6486
104894  2388.64  8100.84  9.3982  0.02  336  2223  100.0  14.69  8.8389
104895  2388.37  8085.24  9.2727  0.03  366  2324  100.0  24.44  14.6887
104896  2388.59  8098.17  9.3964  0.02  335  2223  100.0  14.72  8.8502

        Condition (One)  Fault ONE  RUL
0       1                1          142
1       1                1          141
2       1                1          140
3       1                1          139
4       1                1          138
...    ..               ..          ...
104892  0                0          30
104893  0                0          29
104894  0                0          28
104895  0                0          27
104896  0                0          26

[104897 rows x 29 columns]

In [56]:
# Testing performance on test set

seq_array_test = [test_pd_nn[test_pd_nn['id']==id][sequence_cols].values[-sequence_length:]
                 for id in test_pd_nn['id'].unique() if len(test_pd_nn[test_pd_nn['id']==id]) >= sequence_length]

seq_array_test = np.asarray(seq_array_test).astype(np.float32)

y_mask = [len(test_pd_nn[test_pd_nn['id']==id]) >= sequence_length for id in test_pd_nn['id'].unique()]

label_array_test = test_pd_nn.groupby('id')['RUL'].nth(-1)[y_mask].values
label_array_test = label_array_test.reshape(label_array_test.shape[0],1).astype(np.float32)

print(seq_array_test.shape)
print(label_aray_test.shape)

NameError: ignored